@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #17223e;
  font-family: "Lato", "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  /* overflow: hidden; */
}

.border{ 
  border: 1px solid red;
}

.background-container {
  position: relative;
  width: 100%;
  height: 810px;
}

.background-image {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.top-background {
  top: 0;
}

.bottom-background {
  bottom: 0;
  right: 0;
  z-index: -10;
  width: 100%;
  max-width: 2000px;
}


/* min-w-[40px] bg-[#FF4B0A] px-8 py-3 text-white text-[10px] md:text-[14px] rounded-md flex items-center justify-center hover:bg-[#ff4c1fb4] cursor-pointer transition-opacity */